.aboutPic{
  width: 22%;
}

.aboutText{
  font-family: myfont;
  width: 41%;
}

.socialAccounts{
  margin-top: 25px;
}

.resume{
  font-family: myfont;
}

.backButton {
  top:2px;
  right:2px;
  position: absolute;
}


