$fontColor: red;

.bg{

  background-image: url(../images/background.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;

}


h1,h2,h3,h4,h5,h6{
  font-family: myfont;
}


@font-face {
  font-family: myfont;
  src: url('../fonts/Poppins-Light.ttf');
}


.ori-primary-button {
  border-radius: 3px 3px;
}


.avatar{
margin-left: 12%;
margin-bottom: 30px;
}


@media screen and (min-width: 0) and (max-width: 1100px) {
  .avatar{
    margin-top: 80px;
  }

  .bg{
    height: 100%;
  }
}