
.lineUnderTitle{
  height: 2px;
  width: 60px;
  background: cadetblue;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 27px;
}

.mainDiv{
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 15px;
}

.divTitle{
  padding-left: 10px;
  font-size: 20px;
}